annotations/
.png
*.png
.DS_Store
*.DS_Store
.zip
*.zip
data/words_vocab_quora.pkl
data/words_vocab_coco.pkl
data/valid_word_tensor_quora.npy
data/valid_word_tensor_coco.npy
data/valid_character_tensor_quora.npy
data/valid_character_tensor_coco.npy
data/train_word_tensor_quora.npy
data/train_word_tensor_coco.npy
data/train_character_tensor_quora.npy
data/train_character_tensor_coco.npy
data/test_word_tensor_quora.npy
data/test_word_tensor_coco.npy
data/test_character_tensor_quora.npy
data/test_character_tensor_coco.npy
data/characters_vocab_quora.pkl
data/characters_vocab_coco.pkl
data/super/words_vocab_quora_2.pkl
data/super/words_vocab_coco_2.pkl
data/super/valid_word_tensor_quora_2.npy
data/super/valid_word_tensor_coco_2.npy
data/super/valid_character_tensor_quora_2.npy
data/super/valid_character_tensor_coco_2.npy
data/super/train_word_tensor_quora_2.npy
data/super/train_word_tensor_coco_2.npy
data/super/train_character_tensor_quora_2.npy
data/super/train_character_tensor_coco_2.npy
data/super/characters_vocab_quora_2.pkl
data/super/characters_vocab_coco_2.pkl