[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
torch = "*"
torchvision = "*"
numpy = "*"
pyter3 = "*"
rouge = "*"
tensorflow = "<2.0,>=1.15"
install = "*"
nltk = "*"
ipykernel = "*"
pycocotools = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
